<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
 <a th:href="@{'/'}">Home</a>
  <a th:href="@{'/teacher_login'}">List all</a>
    <h2 align="center">Individual Faculty Record</h2></br></br>
    
<div id="div1" align="center">
			 <table class="table table-bordered table-sm mt" border="1" cellpadding="10">
    <thead>
      <tr>
        <th>Faculty id</th>
        <th>Name</th>
        <th>Email</th>
        <th>Post</th>
      </tr>
    </thead>
    <tbody>
      <tr th:each="l : ${facultylist}" th:field="${l}">
        <td th:text="${l.id}"></td>
        <td th:text="${l.name}"></td>
        <td th:text="${l.email}"></td>
        <td th:text="${l.post}"></td>
      </tr>
    </tbody>
  </table>
			
			
</div>
</body>
</html>